/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");

/* General selection */

::-moz-selection {
  /* Code for Firefox */
  color: whitesmoke;
  background: crimson;
}

::selection {
  color: whitesmoke;
  background: crimson;
}

/* Main container */

.main-bg {
  background: linear-gradient(to bottom, rgb(196, 194, 194), rgb(75, 75, 75));
}
.main-page {
  width: 100%;
  min-height: 110rem;
  background: linear-gradient(to bottom, #e8ece6 35%, crimson 0%);
}

/* Nav section */
/* Home - Contact section */

.contact-icons img {
  width: 2.2rem;
  margin-left: 2rem;
  margin-top: 1rem;
  position: relative;
}

.githubIMG:hover{
  color: crimson;
}

.twitterIMG:hover{
  color: dodgerblue;
}

.linkedinIMG:hover{
  color: #0077b5;
}

/* Image section */


/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 122, 142); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: crimson; 
}