// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// My name
.main-title-container{
    margin: 2.5rem 6rem 3rem 6rem;
    border-bottom: crimson 1.5px solid;
}

.main-name {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4rem;
  position: relative;
}

// name div
.name-one {
  max-width: 100%;
}

.main-name-wrapper {
  margin-bottom: 1rem;
}

// About

.about-body{
  max-width: 30%;
  margin-left: 5%;
}

.about-text{
  position: relative;
  top: 12px;
}

.highlight{
  background: linear-gradient( crimson 95%, whitesmoke);
  color: whitesmoke;
}

.about-cv{
  color: #dc143c;
  font-weight: bold;
}

.about-cv:hover{
  text-decoration: none;
  color: #ad1332;
}

.about-body img{
  max-width: 30%;
  border-radius: 50%;
  float: left;
  margin-right: 2%;
}

@media (min-width: 800px) {
  .image-one {
    opacity: 0.9;
  }

  .nav-buttons {
    width: 90%;
    padding-bottom: 3rem;
  }

  .navbuttons {
    font-family: "Julius Sans One", sans-serif;
  }

  .navbuttons h2 {
    font-size: 1.5rem;
    color: rgb(151, 150, 150);
  }

  .navbuttons h2:hover {
    text-decoration: underline;
    color:crimson;
  }
}

@media (max-width: 800px) {
  .image-one {
    opacity: 0;
  }

  .nav-buttons {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .navbuttons {
    font-family: "Julius Sans One", sans-serif;
  }

  .navbuttons h2 {
    font-size: 0.9rem;
    color: rgb(151, 150, 150);
  }

  .navbuttons h2:hover {
    text-decoration: underline;
    color:crimson;
  }
}



