// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// My name
.main-title-container {
  padding-top: 2.5rem;
  margin: auto 6rem 3rem 6rem;
  border-bottom: crimson 1.5px solid;
  height: 8rem;
}

.main-name {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4rem;
  position: relative;
}

// name div
.name-one {
  max-width: 100%;
  margin-top: 1rem;
}

.main-name-wrapper {
  margin-bottom: 1rem;
}

// About

.main-body{
  max-height: 10rem;
  margin-top: 8rem;
}

.about-body {
  max-width: 30%;
  margin-left: 5%;
  max-height: 100%;
}

.about-text {
  position: relative;
  top: 12px;
}

.highlight {
  background: linear-gradient(crimson 95%, whitesmoke);
  color: whitesmoke;
}

.about-cv {
  color: #dc143c;
  font-weight: bold;
}

.about-cv:hover {
  text-decoration: none;
  color: #ad1332;
}

.about-body img {
  max-width: 30%;
  border-radius: 50%;
  float: left;
  margin-right: 2%;
}

// Contact Icons
.contact-icons {
  margin-left: 2%;
}

.contactIcon-div{
  padding-top: 10px;
  padding-right: 4px;
}

@media (min-width: 800px) {
  .image-one {
    opacity: 0.9;
  }

  .nav-buttons {
    width: 90%;
    padding-bottom: 3rem;
  }

  .navbuttons {
    font-family: "Julius Sans One", sans-serif;
  }

  .navbuttons h2 {
    font-size: 1.5rem;
    color: rgb(151, 150, 150);
  }

  .navbuttons h2:hover {
    text-decoration: underline;
    color: crimson;
  }
}

@media (max-width: 800px) {
  .image-one {
    opacity: 0;
  }

  .nav-buttons {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .navbuttons {
    font-family: "Julius Sans One", sans-serif;
  }

  .navbuttons h2 {
    font-size: 0.9rem;
    color: rgb(151, 150, 150);
  }

  .navbuttons h2:hover {
    text-decoration: underline;
    color: crimson;
  }
}

html{
  height:100%;
}

body{
  height: 100%;
}

body div{
  height: 100%;
}

main{
  height: 100%;
} 

.main-page-cont{
  max-height: 100%;
  background-image: image-url("main/back-plain.jpg");
  background-size: 1420px;
  background-size: cover;
}
