// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Amiri&display=swap");


.name-one-projects{
  max-width: 100%;
  max-height: 6rem;
  margin-top: 1rem;
}

// ProjectList

.projectTable {
  width: 70%;
  margin: 1rem 1rem auto 15%;
}

// Cards

.projectAlone {
  font-family: "Amiri", serif;
  border: 1px solid lightgray;
  margin: 2%;
  height: 40rem;
}


.projectAlone:hover {
  font-family: "Amiri", serif;
  border: 3px solid crimson;
}

.image-description-container{
  height: 80%;
}

.image-container{
  width: 100%;
  min-height: 25rem;
}

.projectAlone img {
  max-width: 50%;
  margin: 2% auto 2% 25%;
}

.projectAlone-within {
  margin: 2%;
  height: 1px;
}

.img-project{
    border-radius: 8%;
    width: 80%;
}

.title-project{
    font-family: "Julius Sans One", sans-serif;
    height: 20%;
}



@media (max-width: 800px) {

  .projectAlone {
    font-family: "Amiri", serif;
    border: 1px solid lightgray;
    margin: 2%;
    height: 20rem;
  }
  
  body{
    font-size: 10%;
  }


  .project__description_container{

    .project__description_description{

      display: none;

    }

    .project__description_links{

    }
  }

  .image-container{

    min-width: 100%;
    min-height: 10rem;
    margin: 2rem 0 0 0;

    img{
      width: 100%;
    }
  }

}


// *{
//   border: 1px solid green;
// }