// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Amiri&display=swap");

// ProjectList

.projectTable {
  width: 70%;
  margin: 1rem 1rem auto 15%;
}

// Cards

.projectAlone {
  font-family: "Amiri", serif;
  border: 1px solid lightgray;
  margin: 2%;
}

.projectAlone:hover {
  font-family: "Amiri", serif;
  border: 3px solid crimson;
}

.image-container{
  width: 100%;
}

.projectAlone img {
  max-width: 50%;
  margin: 2% auto 2% 25%;
}

.projectAlone-within {
  margin: 2%;
}

.img-project{
    border-radius: 8%;
    width: 80%;
}

.title-project{
    font-family: "Julius Sans One", sans-serif;
}